JWT_SECRET=your_super_secret_key_that_must_be_at_least_256_bits_long
JWT_EXPIRATION_MS=900000
JWT_REFRESH_EXPIRATION_MS=604800000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority
